<head>
    <title>Rekol: 404</title>
  </head>
  
  <body style="background-color: #25D366;">
    
    <center><img src = "/public/img/Logo.svg" style="width: 20%;" alt="logo"/></center>
    <div class="row mt-5" style="margin-top: -10%;">
      <div class="col-md-6 m-auto" style="margin-top: -10%;">
        <div class="card card-body" style="margin-top: -10%;">
          <h1 class="text-center mb-3">404</h1>
          <%- include('partials/messages'); %>
            <div class="form-group">
              <center><label for="text">Looks like you have reached a null point! This page does not exist! <br>No problemo! Just go to the registeration page or the login page to access to your account!</label></center>
            </div>
          <p class="text-center mb-3">
            <a href="/users/login">Login</a> | <a href="/users/register">Register</a>
          </p>
        </div>
      </div>
    </div>
    
  </body>