<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
</head>

<div class="jumbotron text-center" style="background-color: #25D366;">
    <h1 class="display-3">Thank You <%= name %> !</h1>
    <p class="lead"><strong>Thank you</strong> for verifying your email address (<%= email %> ).<br>We hope to serve you well in the coming future ahead!</p>
    <hr>
    <p>
      You will be redirected to the login page in 5 seconds! <br>If it doesnt, please close the window and visit our site manually!
    </p>
  </div>

  <script src="https://bootstrapcreative.com/wp-bc/wp-content/themes/wp-bootstrap/codepen/bootstrapcreative.js?v=7"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>